*{
    width: 0%;
    height: 0%;
    box-sizing: border-box;
}

#center{
    position: absolute;
    top: 50%;
    left: 50%;

}
#capsule{

    width: 200px;
    height: 5px;
    background-color: #dadada;
    border-radius: 100px;

}

#mover{
    transition: cubic-bezier(0.165, 0.84, 0.44, .1);
    border-radius: 100px;
    width: 0%;
    height: 100%;
    background-color: rgb(39, 166, 124);
}

h3{
    font-size: 14px;
    opacity: 0;
}

