/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
 */

 /* #add{
    padding: 1%;
    border: none;
    background-color: teal;
    color: #fff;
    border-radius: 10px;
 }

 #remove{
    padding: 1%;
    border: none;
    background-color: red;
    color: #fff;
    border-radius: 10px;
 }

 #input{
    padding: 1%;
    border: none;
    background-color: lightcoral;
    color: brown;
    font-size: 10px;
    font-weight: bolder;
    border-radius: 10px;
 } */
